/*-- global styles for Wireframe --*/
.siteLogo{ }
.siteLogo a{ background:"site.logo" center center no-repeat;  top:0;  left:0;  position:absolute;  height:38px;  width:120px }
.siteLogo img{ position:absolute;  z-index:-1 }

html, body, h1, h2, h3, h4, h5, h6, form, p, li, div, dd, dt, dl, img, hr, fieldset { font:"default (Galaxy font)"; color:"text (Galaxy color)" }
 
a{ color:"link (Galaxy color)" }
a:hover{ text-decoration:underline }
a:visited{ color:"link.visited (Galaxy color)" }
 
h1{ color:"h1 (Galaxy color)";  font:"title1 (Galaxy font)" }
h2{ color:"h2 (Galaxy color)";  font:"title2 (Galaxy font)" }
h3{ color:"h3 (Galaxy color)";  font:"title3 (Galaxy font)" }
h4, h5, h6{ color:"h4+ (Galaxy color)";  font:"title4+ (Galaxy font)" }

/* STRUCTURING BORDERS*/
.headerSection { border-bottom:"header (Galaxy border)" }
.leftColumnCell { border-right:"leftCell (Galaxy border)"}
.footerSection { border-top:"footer (Galaxy border)"}

/*-- GENERAL ELEMENTS --*/ 
/*-- Buttons --*/
input.button{ border:"buttons (Galaxy border)";  background-color:"buttons (Galaxy background)"; }
input.button:hover{ border:"button.hover (Galaxy border)" }
input.button[disabled=disabled], input.button[disabled=disabled]:hover{ cursor:default }

/* Header style */
.headerSection{ background-color:"header (Galaxy background)"; color:"header (Galaxy color)";}
.headerSection a, .headerSection a:hover, .headerSection a:visited {color:"header.link (Galaxy color)"}

/*-- Breadcrumb area--*/
div.breadcrumbArea{ background-color:"breadcrumb (Galaxy background)"; border-bottom:"breadcrumb (Galaxy border)"; font:"small (Galaxy font)"; }
.breadcrumbArea a, .breadcrumbArea a:visited{ color:"breadcrumb.link (Galaxy color)" }

/* Left Column:Tree Explorer and Clipboard styles */
.userClipboard h4{border-bottom:"dotted (Galaxy border)";  color:"clipboard.title (Galaxy color)";}

/* Main */
.mainSection {background:"mainRegion (Galaxy background)"}

/*-- Default tabs --*/
.tabsBar{ border-bottom:"tabsbar (Galaxy border)" }
.tabsBar a, .tabsBar a:hover, .tabsBar a:visited{ border:"tabisnotselected (Galaxy border)";  color:"tabs.link (Galaxy color)";}
.tabsBar li.selected a, .tabsBar li.selected a:hover, .tabsBar li.selected a:visited, .tabsBar li a:hover{ color:"tabs.link.hover (Galaxy color)";  background-color:"tabsbar (Galaxy background)"; border: "tabiselected (Galaxy border)" }
.subtabsBar{ border-bottom:"subtabsbar (Galaxy border)" }
.subtabsBar a, .subtabsBar a:visited{ background-color:"white (Galaxy background)"; color:"subtabs.link (Galaxy color)";  border:"subtabisnotselected (Galaxy border)" }
.subtabsBar a:hover, .subtabsBar li.selected a, .subtabsBar li.selected a:hover, .subtabsBar li.selected a:visited{ color:"subtabs.link.hover (Galaxy color)"; background-color:"subtabsbar (Galaxy background)"; border: "subtabiselected (Galaxy border)" }

/*-- Common style --*/

table.dataOutput thead th a, table.dataOutput thead th a:hover, table.dataOutput thead th a:active, table.dataOutput thead th a:visited{ color:"dataoutput.header.link (Galaxy color)" }
table.dataOutput thead th{ background:"thead (Galaxy background)";  border-bottom:"dataInput (Galaxy border)";  color:"dataoutput.header.link (Galaxy color)" }
.dataList td{ border-bottom:"cells (Galaxy border)";  border-top:"cells (Galaxy border)"}
.dataList thead th{ background-color:"thead (Galaxy background)";  border-bottom:"table.header (Galaxy border)";  color:"text (Galaxy color)" }
.dataList thead th a, .dataList thead th a:link, .dataList thead th a:visited { color:"datalist.header.link (Galaxy color)" }

.dataList thead th a:hover{ color:"datalist.header.link (Galaxy color)";  text-decoration:underline }
.dataOutput td{ border-bottom:"dataInput (Galaxy border)";  border-top:"dataInput (Galaxy border)" }

table.trashTable thead th{ background-color:"thead (Galaxy background)" }
table.trashTable tbody tr.dataRowOdd{ background-color:"odd (Galaxy background)" }

.dataRowOdd{ background-color:"odd (Galaxy background)" }

.pageNavigationControls{ border:"navigation (Galaxy border)" }

.foldableBox{ border:"foldable (Galaxy border)" }
.foldableBox h3{ background:"folded (Galaxy background)";  border-bottom:"foldable (Galaxy border)";  color:"foldablebox.title (Galaxy color)"}
.foldableBox h3 a, .foldableBox h3 a:link, .foldableBox h3 a:visited, .foldableBox h3 a:hover, .foldableBox h3 a:visited:hover{ color:"foldablebox.title (Galaxy color)"}
.foldableBox h3.folded{ background:"folded (Galaxy background)" }
.foldableBox h3.unfolded{ background:"unfolded (Galaxy background)" }

.action_bar a{ background:"toolbar (Galaxy background)";  border:"actionbar (Galaxy border)";  color:"actionbar.link (Galaxy color)"}

/* Summary View */
h3.summaryTitle{ border-bottom:"summary (Galaxy border)";  color:"h3.summary (Galaxy color)";  font:"title4+ (Galaxy font)" }
.summary_locked{ color:"locked (Galaxy color)";  font-weight:bold }
.summary_unlocked{ color:"unlocked (Galaxy color)";  font-weight:bold }

/* Pop ups */
/* Search document relation */
.genericPopUp{ background-color:"empty (Galaxy background)"; border:"popups (Galaxy border)" }
.genericPopUp .closePopUpHeader{ background-color:"popupheader (Galaxy background)";  border-bottom:"popups (Galaxy border)" }

/* Messages */
.infoMessage{ background:"info (Galaxy background)";  border:"info.message (Galaxy border)";  color:"message (Galaxy color)" }
.infoFeedback{ background:"info (Galaxy background)";  border:"info.message (Galaxy border)";  color:"message (Galaxy color)" }

/* Footer style */
.footerArea{ text-align:right;  color:"footer (Galaxy color)"; font:"small (Galaxy font)" }
